<div class="auth-wrap">
  <div class="header clearfix">
    <div class="logo">
      <%= image_tag 'header-logo.png' %>
    </div>

    <div class="account">
      <%= link_to ext_signin_path(return_to: params[:return_to]) do %>
        <%= image_tag("sign_weibo.png") %>
      <% end %>
      <%= link_to auth_signin_path(return_to: session[:return_to]) do %>
        <span class="signup">登录</span>
      <% end %>
    </div>
  </div>

  <div class="auth-content">
    <% if @user.errors.any? %>
      <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 style="font-weight: 800;">警告!</h4>
        <% @user.errors.full_messages.each do |message| %>
          <p style="font-weight: 800;"><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div class="sign-form">
      <div class="auth-info">同样可以使用 iqunix 社区账号进行访问</div>

      <%= form_tag auth_signup_path do %>
        <div class="form-group">
          <%= label_tag '账号', nil, class: 'control-label' %>
          <%= text_field_tag 'user[username]', params[:username], placeholder: '用户名或密码', tabindex: 1, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag '邮箱', nil, class: 'control-label' %>
          <%= text_field_tag 'user[email]', nil, placeholder: '邮箱', tabindex: 2, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag '密码' %>
          <%= password_field_tag 'user[password]', nil, placeholder: '密码', tabindex: 3, class: 'form-control' %>
        </div>
        <%= submit_tag '注册', class: 'btn btn-success', tabindex: 4 %>
      <% end %>
    </div>
  </div>
</div>
